:root {
  --background-color: #1f1e1e;
  --secondary-color: #214ed4;
  --tertiary-color: #6082e6;
  --text-color: #e0e0e0;
  --mute-text-color: #8a8a8a;
  --link-color: #e0e0e0;
  --border-color: #3a3a3a;
}

html,
body {
  height: 100%;
}

body {
  font-family: monospace, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  width: 50%;
  margin: 0 auto;
  display: table;
}

header {
  padding: 1.5rem 0;
}

nav {
  display: flex;
  justify-content: left;
  padding: 0.5rem 0;
}

nav a:not(:first-child) {
  margin-left: 0.75rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0;
}

h1,
h2,
h3 {
  padding-bottom: 0.25rem;
  font-weight: bold;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  margin: 1rem 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  list-style: none;
}

hr {
  margin: 1.5rem 0;
}

code,
pre {
  font-family: "Fira Code", Consolas, Monaco, "Andale Mono", monospace;
  line-height: 1.5;
  font-size: 14px;
  overflow-x: auto;
  padding: 1rem;
  border-radius: 8px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid var(--border-color);
}

code {
  padding: 0;
}

blockquote {
  border-left: 2px solid var(--secondary-color);
  padding-left: 1rem;
  color: #bbbbbb;
  margin: 1rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

th,
td {
  border: 1px solid var(--border-color);
  padding: 0.5rem;
}

thead {
  background-color: var(--tertiary-color);
}

kbd {
  background-color: #333;
  color: #fff;
  padding: 0.1rem 0.3rem;
  border: 1px solid var(--border-color);
}

mark {
  background-color: #444;
  color: var(--text-color);
}

.error {
  text-align: center;
  padding: 2rem;
}

.error strong {
  font-size: 3rem;
}

.error p {
  font-size: 1.5rem;
}

.list {
  padding: 0;
}

.list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 100%;
  padding-bottom: 1rem;
}

.list > li > h2 {
  font-size: 1em;
  margin-bottom: 5px;
}

.blog-meta {
  font-size: 0.9em;
  color: var(--mute-text-color);
}
